@charset "utf-8";
@import url('job.pc.css') screen and (min-width:797px);
@import url('job.pad.css') screen and (min-width:650px) and (max-width:796px);
@import url('job.mob.css') screen and (max-width:649px);
@namespace svg url(http://www.w3.org/2000/svg);
@media all
{
	*{
		position:static;
		float:none;
		padding:0;
		margin:0;
		border:none;
		border-radius:0;
		outline:none;
		box-sizing:border-box;
		color:black;
		background-color:transparent;
		text-align:justify;
		text-decoration:none;
		z-index:0;
	}
	input[type="button"],input[type="date"],select{
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
	}
	button::after{
	  border:none;
	}
	.blur{
		display:block;
		position:fixed;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.5);
		text-align:center;
	}
	.hide{
		position:fixed !important;
		display:none !important;
		width:0px !important;
		height:0px !important;
		overflow:hidden !important;
		background-color:transparent !important;
	}
	body{
		text-align:center;
		background-color:white;
	}
	html{
		font-size:18px;
		background-color:white;
	}
}