@charset "utf-8";
@media only screen and (min-width:650px) and (max-width:796px)
{
	article.paper{
		border:1px solid #eeeeee;
		width:100%;
		height:1128px;
		margin:0px auto;
		text-align:center;
		position:relative;
	}
	article.paper>*{
		width:650px;
	}
	article.paper>header{
		margin:68px auto 0px;
		border-bottom:1px solid black;
	}
	article.paper>section{
		border:1px solid #eeeeee;
		height:970px;
		margin:0px auto;
	}
	article.paper>footer{
		height:20px;
		margin:0px auto;
		border-top:1px solid black;
	}
	article.paper>footer>nav:first-of-type{
		float:left;
		margin-left:200px;
	}
	article.paper>footer>nav:last-of-type{
		float:right;
		margin-right:200px;
	}
	hr.spit{
		border:1px solid black;
		display:none;
	}
}